#quote-container{
    border: 1px solid black;
    background-color: aqua;
    width: 20%;
    height: 150px;
    margin-top: 60px!important;
    border-radius: 3px;
    margin: auto;
    font-size: 1.3rem;
}

#quote-btn{
margin: auto;
padding: 20px;
margin-top: 20px!important;
display: block;
}